.calendrier-cell{
    -fx-border-color: black;
    -fx-alignment: center;
}

.jour-cell{
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-alignment: center;
}

.seance-cell{
    -fx-alignment: center;
}

.inactive-cell{
    -fx-background-color: grey;
}